@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.custome-bg {
  background-color: rgba(255, 0, 0, 0.821);
}
.navbar-list > *:hover {
  /* border: 1px solid black; */

  /* cursor: pointer; */
}
.navbar-list > *:active {
  user-select: noneikol;
}

.btn-primary {
  background-color: red;
  border: none;
}

.btn-primary:hover {
  background-color: red;
}

.navbar-list {
  color: rgb(246, 246, 246);
  font-weight: 900;
  font-style: italic;
  /* font-size: 1vw; */
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
@media (max-width: 860px) {
  .hamburger-menu {
    display: block;
  }
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  width: 55px;
  height: 3px;
  background-color: rgb(245, 237, 237);
  transition: all 0.3s ease-in-out;
}

.hamburger-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-items {
  list-style: none;
  text-align: center;
  padding: 30px;
  margin: 5px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 50vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.cart {
  position: relative;
  right: 68px;
  border: 1px solid black;
  border-radius: 16px;
  width: 110px;
}

.hamburger-icon.active ~ .menu-items {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

.menu-items li {
  margin: 10px 0;
}

.menu-items a {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
}

.menu-items a:hover {
  color: #e74c3c;
}
.card-effects:hover {
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

#map {
  height: 180px;
}

#__next {
  min-height: 100vh;
}
.custom-layout {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  min-height: 100vh;
}
.custom-fotter {
  margin-bottom: 0 !important;
  justify-self: end;
}

.custom-carousel > * {
  max-width: 200%;
}
.main-title {
  text-shadow: #fd1c03bc 1.5px 1.5px ;
  /* font-family: playfair; */
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@1,100&display=swap');
